body {
  background-color: #C8DBBE;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Kalam', cursive;
}

/* Navigation */

.navbar {
  background-color: #D6CDA4;
}

/* Nuestros perros */

.img_intro {
  width: 50%;
}

.button_intro {
  width: 50%;
  
}